.cardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }