.form {
    width: 50vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 308px);
}

.form button {
    margin-top: 20px;
}

.group {
    margin-top: 10px;
}